//registry.npmjs.org/:_authToken=npm_token_if_needed
//github.com/luckys-long/shsany-jssip-sdk.git:_authToken=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